BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "spiClk" SITE "92" ;
LOCATE COMP "spiIn" SITE "74" ;
LOCATE COMP "spiOut" SITE "75" ;
LOCATE COMP "led" SITE "1" ;
FREQUENCY 30.000000 MHz ;
USE PRIMARY NET "spiClk_c" ;